# PostgreSQL Configuration (OLTP)
POSTGRES_USER=kiva_admin
POSTGRES_PASSWORD=kiva_password
POSTGRES_DB=kiva_oltp
POSTGRES_PORT=5433

# ClickHouse Configuration (OLAP)
CLICKHOUSE_USER=kiva_admin
CLICKHOUSE_PASSWORD=kiva_password
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_TCP_PORT=9000

# Grafana Configuration
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=kiva
