# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
.tmp*

# Dagster
*.db
*.log
.dagster/
dagster_home/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
